<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter-mapping>
        <filter-name>DoesUserExist</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IsUserEnabledFilter</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/LoginServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarAddServlet</servlet-name>
        <servlet-class>CarAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowServlet</servlet-name>
        <servlet-class>UserShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>UserEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBookingServlet</servlet-name>
        <servlet-class>RequestBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingRequestsServlet</servlet-name>
        <servlet-class>BookingRequestsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptOrRejectBookingRequest</servlet-name>
        <servlet-class>AcceptOrRejectBookingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptBookingRequestServlet</servlet-name>
        <servlet-class>AcceptBookingRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectBookingRequestServlet</servlet-name>
        <servlet-class>RejectBookingRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingsServlet</servlet-name>
        <servlet-class>BookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingServlet</servlet-name>
        <servlet-class>ShowBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteBooking</servlet-name>
        <servlet-class>CompleteBooking</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>InvoicesServlet</servlet-name>
        <servlet-class>InvoicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowReportsMenuServlet</servlet-name>
        <servlet-class>ShowReportsMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDriverSummaryReportForm</servlet-name>
        <servlet-class>ShowDriverSummaryReportForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDriverSummaryReport</servlet-name>
        <servlet-class>ShowDriverSummaryReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomersServedReportForm</servlet-name>
        <servlet-class>ShowCustomersServedReportForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomersServedReport</servlet-name>
        <servlet-class>ShowCustomersServedReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarAddServlet</servlet-name>
        <url-pattern>/CarAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowServlet</servlet-name>
        <url-pattern>/UserShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/UserAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/UserEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBookingServlet</servlet-name>
        <url-pattern>/RequestBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingRequestsServlet</servlet-name>
        <url-pattern>/BookingRequestsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptOrRejectBookingRequest</servlet-name>
        <url-pattern>/AcceptOrRejectBookingRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptBookingRequestServlet</servlet-name>
        <url-pattern>/AcceptBookingRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectBookingRequestServlet</servlet-name>
        <url-pattern>/RejectBookingRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingsServlet</servlet-name>
        <url-pattern>/BookingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingServlet</servlet-name>
        <url-pattern>/ShowBookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteBooking</servlet-name>
        <url-pattern>/CompleteBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicesServlet</servlet-name>
        <url-pattern>/InvoicesServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>DoesUserExist</filter-name>
        <filter-class>com.mycompany.dash.cab.filters.DoesUserExist</filter-class>
    </filter>
    <filter>
        <filter-name>IsUserEnabledFilter</filter-name>
        <filter-class>com.mycompany.dash.cab.filters.IsUserEnabledFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.mycompany.dash.cab.filters.AuthenticationFilter</filter-class>
    </filter>
    <servlet-mapping>
        <servlet-name>ShowReportsMenuServlet</servlet-name>
        <url-pattern>/ShowReportsMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDriverSummaryReportForm</servlet-name>
        <url-pattern>/ShowDriverSummaryReportForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDriverSummaryReport</servlet-name>
        <url-pattern>/ShowDriverSummaryReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomersServedReportForm</servlet-name>
        <url-pattern>/ShowCustomersServedReportForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomersServedReport</servlet-name>
        <url-pattern>/ShowCustomersServedReport</url-pattern>
    </servlet-mapping>
<!--    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>com.mycompany.dash.cab.filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
