<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserServelet</servlet-name>
        <servlet-class>UserServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarAddServlet</servlet-name>
        <servlet-class>CarAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerShowServlet</servlet-name>
        <servlet-class>CustomerShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <servlet-class>CustomerDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerAddServlet</servlet-name>
        <servlet-class>CustomerAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServelet</servlet-name>
        <url-pattern>/userservelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarAddServlet</servlet-name>
        <url-pattern>/CarAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerShowServlet</servlet-name>
        <url-pattern>/CustomerShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDeleteServlet</servlet-name>
        <url-pattern>/CustomerDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerAddServlet</servlet-name>
        <url-pattern>/CustomerAddServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
