<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserServelet</servlet-name>
        <servlet-class>UserServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarAddServlet</servlet-name>
        <servlet-class>CarAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserShowServlet</servlet-name>
        <servlet-class>UserShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServelet</servlet-name>
        <url-pattern>/userservelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarAddServlet</servlet-name>
        <url-pattern>/CarAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserShowServlet</servlet-name>
        <url-pattern>/UserShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/UserAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/UserEditServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
